body {
    background-color: #B3CEE2!important;
}

nav {
    background: linear-gradient(to bottom, #000e44, #1a2b52);

}

.logo {
    display: flex;
    align-items: center; 
    justify-content: center; 
    height: 10vh;           /* This assumes you want to center the video in the viewport. Adjust as needed. */
}


.title {
    margin-right: 20px; /* spacing between video and text */
    font-family: 'Baloo Thambi 2', sans-serif;
    color: white;

}

nav{
    background-color: #000e44;
}

nav a, h1{
    color: white;
}

