{% extends 'base.html' %}

{% block header %}
<h1 class="pagename">{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" class="logform">
  <div class="form-group">
    <label for="username">Username</label>
    <input name="username" id="username" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" required>
  </div><button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}