{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block header %}
<h1 class="pagename">{{g.user['username']}}'s sleep record</h1>
{% endblock %}

{% block content %}
<section class="geninfo">
    <div class="userstreak">Today, you've been asleep for:</div>
    <div id="stopwatch">
        <span class="digit" id="hr">
            00
        </span>
        <span class="txt">Hr</span>
        <span class="digit" id="min">
            00
        </span>
        <span class="txt">Min</span>
        <span class="digit" id="sec">
            00
        </span>
        <span class="txt">Sec</span>
    </div>
    <button class="tracker btn btn-dark" id="trackstart">Start Tracking</button>
    <button class="tracker btn btn-dark" id="trackpause">Pause Tracking</button>
    <button class="tracker btn btn-dark" id="trackreset">Reset Tracking</button>
    
    <form method="post" action="/submit">
        <input name="stime" id="stime">
        <input type="submit" id="timesubmit" value="Submit Time" class="btn btn-primary">
    </form>
</section>

<section class="streak">
    Current Streak

    <div class="streakdisplay">{{g.user['streak']}}</div>
</section>

{% for history in history %}
<section class="history">
    You slept {{history['stime']}} hours on {{history['created']}}.
</section>
{% endfor %}

{% endblock %}