{% extends 'base.html' %}

{% block title %}
Profile
{% endblock %}

{% block header %}
  <h1>{{g.user['username']}}</h1>
{% endblock %}

{% block content %}
  <section class="geninfo">
    <div class="userstreak">Your sleep time today has been:</div>
</section>
<section class="streakentry">
    <button class="tracker" id="trackstart">Start Tracking</button>
    <button class="tracker" id="trackpause">Pause Tracking</button>
    <button class="tracker" id="trackreset">Reset Tracking</button>
    <div id="stopwatch">
        <span class="digit" id="hr">
            00
        </span>
        <span class="txt">Hr</span>
        <span class="digit" id="min">
            00
        </span>
        <span class="txt">Min</span>
        <span class="digit" id="sec">
            00
        </span>
        <span class="txt">Sec</span>
    </div>

    <button class="submitter" id="timesubmit">Submit Time</button>
</section>

{% import "history.html" as historytemplate %}

{% endblock %}